.main-container {
  display: flex;
  
}

.map-container {
  width: 75%;
}

.journal-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}

.create-entry-wrapper {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.trip-card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.trip-card h {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.trip-card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.trip-card button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
   background: #fff;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.image {
  width: 18rem;
  height: 22rem;
  position: absolute;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
  border-radius: .4rem;
  border: .2rem solid #b85d1c;
  left: 60%;
  top: 10%;
}

.img-1 {
  transform: translate(40%, 40%)
}

.img-2 {
  transform: translate(60%, 60%)
}

.img-3 {
  transform: translate(50%, 50%)
}
